{% extends 'base.html' %}
{% block body %}
    <main role="main"><br/>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="500%" height="190%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Executive</h1>
                <p>Executive managers hold executive powers delegated to them with and by authority of a board of directors and/or the shareholders.
                    Generally, higher levels of responsibility exist, such as a board of directors and those who own the company (shareholders),
                    but they focus on managing the senior or executive management instead of on the day-to-day activities of the business.
                    The executive management typically consists of the heads of a firm's product and/or geographic units and of functional executives such as the chief financial officer, the chief operating officer, and the chief strategy officer.
                    In project management, senior management authorises the funding of projects.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Members</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
              <div class="carousel-caption text-center text-justify">
                <h1>Operations</h1>
                <p>Operations management is the administration of business practices to create the highest level of efficiency possible within an organization. It is concerned with converting materials and labor into goods and services as efficiently as possible to maximize the profit of an organization.
                    Operations management teams attempt to balance costs with revenue to achieve the highest net operating profit possible.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Members</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>Receptionist</h1>
                <p>A receptionist is an employee taking an office or administrative support position.
                    The work is usually performed in a waiting area such as a lobby or front office desk of an organization or business.
                    The title receptionist is attributed to the person who is employed by an organization to receive or greet any visitors, patients, or clients and answer telephone calls.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Members</a></p>
              </div>
            </div>
          </div>
            <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Accountant</h1>
                <p>An accountant is a practitioner of accounting or accountancy, which is the measurement, disclosure or provision of assurance about financial information that helps managers,
                    investors, tax authorities and others make decisions about allocating resource(s).</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Members</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </main>
{% endblock %}