{% extends 'accountantapp/accountant_header.html' %}

{% block body %}

  <div class="col-lg-12"  >

    <div class="col-lg-6 float-lg-right">

            <div class=" container jumbotron">

              <h2> Accountant's Roles in CANON</h2>

                <ul class="list-group">

                    <li class="list-group-item-info"><h3> Receive Driver Payments</h3></li>

                    <li class="list-group-item-info"><h3> Generate Receipts for drivers</h3></li>

                    <li class="list-group-item-info"><h3> Pay for Main Expenses</h3></li>

                    <li class="list-group-item-info"><h3> Issue petty cash</h3></li>

                    <li class="list-group-item-info"><h3> Issue salary to staff</h3></li>

                    <li class="list-group-item-info"><h3> Generate Financial report</h3></li>



                    <li class="list-group-item-info"><h3> Submit Monthly Reports to the manager</h3></li>

                    <li class="list-group-item-info"><h3> Monitor Driver payments</h3></li>

                    <li class="list-group-item-info"><h3> Archiving of financial records</h3></li>

                </ul>

            </div>



        </div>







        <div class="col-lg-6">

            <div class=" container jumbotron">

           <h2> Accountant's Profile</h2>

          </div>



        </div>

 </div>



{% endblock %}