<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Inventory</title>

    {% load static %}

    <link href="{%  static '/css/style.css'%}" rel="stylesheet">

    <link href="{%  static '/css/bootstrap.css'%}" rel="stylesheet">

</head>

<body>

<nav class="nav navbar-expand navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"

arial-controls="navbarsExample02" arial-exapanded="false">

        <span class="navbar-toggler"></span>

    </button>

  <div class="collapse navbar-collapse" id="navbarExample02">

      <ul class="navbar-nav mr-auto">

         {% with url_name=request.resolver_match.url_name %}

          <li class="nav-item active">

              <a class="nav-link" href="{% url 'accountant_profile'  %}"><h2>ACCOUNTANT<span class="sr-only">(current)</span></h2></a>

          </li>



            <h4><li class="nav-item {% if url_name == 'enter_expenditure' %}active{% endif %}">

             <a class="nav-link" href="{% url 'enter_expenditure'  %}">Pay Main Expenses</a>

            </li></h4>

          <h4><li class="nav-item {% if url_name == 'enter_sundryexpense' %}active{% endif %}">

              <a class="nav-link" href="{% url 'enter_sundryexpense'  %}">Petty Cash</a>

          </li></h4>



           <h4><li class="nav-item {% if url_name == 'pay_salary' %}active{% endif %}">

              <a class="nav-link" href="{% url 'pay_salary'  %}">Pay Salary</a>

          </li></h4>





          <h4><li class="nav-item {% if url_name == 'display_viewstaff' %}active{% endif %}">

              <a class="nav-link" href="{% url 'display_viewstaff'  %}">View Staff</a>

          </li></h4>



           <h4><li class="nav-item {% if url_name == 'expenditurereport' %}active{% endif %}">

              <a class="nav-link" href="{% url 'expenditurereport'  %}">Monthly Reports</a>

          </li></h4>

         {% endwith %}

      </ul>

      <!--

     Form for searching

     <form class="form-inline my-2 my-md-8">



          <input class="form-control " type="text">

      </form>-->

  </div>

   <li class="nav-item active float-lg-right" >

       <a class="nav-link" href="#"><h2>LOG OUT</h2></a>

          </li>

</nav>

<div class="container">

    {%block body%}



    {% endblock%}



</div>



</body>

</html>